.table-color {
    background-color: #daeaf9 !important;
}

.font-custom {
    font-size: 12px !important;
}

.modal-color {
    background-color: #7cb2e3 !important;
}

.select-custom {
    cursor: pointer;
}

    .select-custom:hover {
        background: darkgrey !important;
    }
