<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DataTables with AJAX</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <input type="text" id="userId" placeholder="Enter ID">
    <button id="loadData">Load Data</button>

    <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
            </tr>
        </thead>
    </table>

    <script>
        $(document).ready(function () {
            let table;

            $('#loadData').on('click', function () {
                let id = $('#userId').val();

                if (table) {
                    table.ajax.url(`/Home/GetById?id=${id}`).load();
                } else {
                    table = $('#example').DataTable({
                        "ajax": {
                            "url": `/Home/GetById?id=${id}`,
                            "dataSrc": ""
                        },
                        "columns": [
                            { "data": "id" },
                            { "data": "role1" },
                            { "data": "createby" },
                            { "data": "createat" }
                        ]
                    });
                }
            });
        });
    </script>
</body>
</html>
